/* @import './base.css'; */
@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GowunDodum-Regular";
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GowunDodum-Regular";
  font-weight: normal;
  font-style: normal;
}

p,
a,
span,
li,
div,
RouterLink {
  font-family: "GowunDodum-Regular";

  font-weight: normal;
  font-style: normal;
}

/* 반응형 미디어 쿼리 */
@media (max-width: 768px) {
  body {
    background-color: lightgray;
  }

  .container {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    background-color: #f2f2f2;
  }

  .container {
    padding: 5px;
    font-size: 12px;
  }
}
